.writer-bio-container {
  background-color: var(--light-violet);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 6.5rem 2rem 8rem 2rem;
  
}

.featured-quote {
  font-family: var(--font-sans);
  font-weight: 400;
  color: var(--orange);
  font-size: var(--super-large-font-size);
  padding: 4rem 6rem 1rem 6rem;
  text-align: center;
  
}

.featured-quote {
  white-space: pre-wrap;
}

.writer-sub-quote {
  font-family: var(--font-sans);
  font-weight: 500;
  color: var(--orange);
  font-size: var(--very-small-font-size);
  text-align: center;
  line-height: 130%;
  padding-top: 2rem;
  padding-bottom: 8rem;
}
.writer-bio-line {
  border:none;
  border-top: 1px solid var(--pink);  
  padding-top: 8rem;
}

.writer-bio-line:hover {
border-color: var(--green);
}


.writer-bio-wrapper{
  display: flex;
  width: 100%;
  font-family: var(--font-sans);
  font-weight: 400;
  color: var(--brown);
  font-size: var(--large-font-size);
  letter-spacing:-1%;
  justify-content: space-between;
 
}

.writer-details-bio-books {
  display: flex;
  flex-direction: column;
  gap:2rem;


}
.writer-bio-description{
  display: flex;
  width: 75%;
  line-height: 110%;

}

.writer-bio-name-last-name p:nth-child(2n) {
  line-height: 99%;
}

.writer-bio-description p {
  white-space: pre-wrap;
}

.writer-books-titles {
  font-size: var(--very-small-font-size);
  color: var(--orange);
}

.writer-books-titles li {
 list-style: none;
}

.writer-titles-btn {
  font-family: var(--font-sans);
  font-weight: 400;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--orange);
  text-decoration: underline;
}

.writer-titles-btn:hover {
 color: var(--brown);
}

@media (max-width: 768px) {
  .writer-bio-container {
    padding: 4rem 1rem 6rem 1rem;
  }
.featured-quote {
  font-size: var(--large-font-size);
  padding: 4rem 0 0 0 ;
}
.writer-sub-quote {
  padding-bottom: 4rem;
}
.writer-bio-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

.writer-bio-line {
  padding-top: 4rem;
}

.writer-bio-description{
  margin-top:2rem ;
  width: 100%;
}
}


