/**
 * Estilos base de la aplicación
 * @module styles/base
 */

/* Reset básico */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  /*Fonts Sizes*/
  --very-small-font-size: .875rem;
  --small-x-font-size: 1rem;
  --small-font-size: 1.5rem;
  --large-font-size: 3rem;
  --super-large-font-size:5rem;


  /*Colors*/
  --brown: #954300;
  --light-brown: #C3762A;
  --pink: #FF76DC;
  --orange: #F7560F;
  --beige: #E2E2E2;
  --dark-beige: #DBD0C1;
  --light-violet:#CDB0EA;   
  --green: #0a9e50;
  --grey: #7d94a3;
  
}

#root{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Neue Montreal Regular';
}

.page-loading-container {
  flex: 1;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--pink);
}