.about-us-banner-container{
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
}

.about-us-banner-web-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  @media (max-width: 475px) {
    display: none;
}
}

.about-us-banner-mobile-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  @media (max-width: 475px) {
    display: block;
    max-height: 100vh;
}
}

.line-banner-about-us {
  width: 100%;
  height: 8rem;
  background-color: var(--pink);
   @media (max-width: 475px) {
    display: none;
}
  
}

